@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;

    font-family: "Montserrat", sans-serif;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    background-color: rgb(41, 71, 221);
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
    border-bottom: 2px solid black;
    border-radius: 0 0 10px 10px;
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 1px;
    margin: 0;
}

nav ul li a{
    color: black;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    padding: 10px 15px;
}
nav ul li a:hover{
    background-color: cyan;
}

nav ul li a.active{
    background-color: cyan;
    color: white;
}

nav h1{
    font-size: 24px;
    font-weight: bold;
    object-fit: cover;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="text"]{
    padding: 19px;
    border-radius: 5px;
    border: none;
    background-color: rgb(221, 221, 221);
    width: 250px;;
}

input[type="text"]:focus{
    outline: none;
    border-color: #007bff;
}